<html>
<head>
<body>
<form target="_blank" name="compra" action="https://sis-t.sermepa.es:25443/sis/realizarPago" method="post" target="tpv" > 
<input type="hidden" name="Ds_Merchant_Amount" value='{{ entity.getDsMerchantAmount() }}'>
<input type="hidden" name="Ds_Merchant_Currency" value='{{ entity.DsMerchantCurrency() }}'>
<input type="hidden" name="Ds_Merchant_Order"  value='{{ entity.DsMerchantOrder() }}'>
<input type="hidden" name="Ds_Merchant_MerchantCode" value='{{ entity.DsMerchantMerchantCode() }}'>
<input type="hidden" name="Ds_Merchant_Terminal" value='{{ entity.DsMerchantTerminal() }}'>
<input type="hidden" name="Ds_Merchant_TransactionType" value='{{ entity.DsMerchantTransactionType() }}'>
<input type="hidden" name="Ds_Merchant_MerchantURL" value='{{ entity.DsMerchantMerchantURL() }}'>
<input type="hidden" name="Ds_Merchant_MerchantSignature" value='{{ entity.DsMerchantMerchantSignature() }}'>
<input type="hidden" name="Ds_Merchant_PayMethods" value='{{ entity.getDsMerchantPayMethods() }}'>
<input type="submit" id="send" />
</form>
</body>
</html>
